@{
        ViewData["Title"] = "Index";
}
@model UserModel

<style>
</style>
<div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
                <div class="col-md-3 border-right">
                        <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img
                                        class="rounded-circle mt-5" width="150px"
                                        src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
                                        class="font-weight-bold">@Model.FullName</span><span
                                        class="text-black-50">@Model.Email</span><span>
                                </span>
                        </div>
                </div>
                <div class="col-md-5 border-right">
                        <form asp-action="UpdateUser" method="post" class="p-3 py-5">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                        <h4 class="text-right">Profile Settings</h4>
                                </div>
                                <div class="row mt-2">
                                        <div class="col-md-12">
                                                <label class="labels">Full Name</label>
                                                <input asp-for="FullName" type="text" class="form-control"
                                                        placeholder="@Model.FullName" />
                                                <span asp-validation-for="FullName" class="text-danger"></span>
                                        </div>
                                </div>
                                <div class="row mt-3">
                                        <div class="col-md-12">
                                                <label class="labels">Phone Number</label>
                                                <input asp-for="PhoneNumber" type="text" class="form-control"
                                                        placeholder="@Model.PhoneNumber" />
                                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-12">
                                                <label class="labels">Address</label>
                                                <input asp-for="Address" type="text" class="form-control"
                                                        placeholder="@Model.Address" />
                                                <span asp-validation-for="Address" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-12">
                                                <label class="labels">Giới Tính</label>
                                                <input asp-for="Gender" type="text" class="form-control"
                                                        placeholder="@Model.Gender" />
                                                <span asp-validation-for="Gender" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-12">
                                                <label class="labels">Ngày Sinh</label>
                                                <input asp-for="BirthDate" type="date" class="form-control" />
                                                <span asp-validation-for="BirthDate" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-12">
                                                <label class="labels">Ngày Đăng Kí</label>
                                                <input type="text" class="form-control" value="@Model.CreateAt"
                                                        disabled />
                                        </div>
                                        <div class="col-md-12">
                                                <label class="labels">Email</label>
                                                <input asp-for="Email" type="email" class="form-control"
                                                        placeholder="@Model.Email" />
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                </div>
                                <div class="mt-5 text-center">
                                        <button class="btn btn-primary profile-button" type="submit">Save
                                                Profile</button>
                                </div>
                        </form>
                </div>
                <div class="col-md-4">
                        <div class="p-3 py-5">
                                <div class="d-flex justify-content-between align-items-center experience">
                                        <span>Social Media</span>
                                </div>
                                <br>
                                <div class="d-flex flex-column">
                                        <div class="mb-3">
                                                <a href="LINK_GOOGLE" class="btn border google">
                                                        <i class="fab fa-google icon"></i> Login with Google
                                                </a>
                                        </div>
                                        <div class="mb-3">
                                                <a href="LINK_FACEBOOK" class="btn border facebook">
                                                        <i class="fab fa-facebook-f icon"></i> Login with Facebook
                                                </a>
                                        </div>
                                        <div class="mb-3">
                                                <a href="LINK_FACEBOOK" class="btn border x">
                                                        <i class="fa-brands fa-twitter icon"></i> Login with X
                                                </a>
                                        </div>
                                        <div class="mb-3">
                                                <a href="LINK_FACEBOOK" class="btn border mircosoft">
                                                        <i class="fa-brands fa-microsoft icon"></i></i> Login with
                                                        Mircosoft
                                                </a>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>